<?xml version="1.0"?>
<launch>
    <arg name="simulator_mode" default="false"/>
    <param name="sim" value="$(arg simulator_mode)"/>
  
    <node pkg="ur_control_wrapper" name="connect" type="connect.py" output="screen" />

    <node pkg="ur_control_wrapper" name="free_drive" type="free_drive.py" output="screen" />

    <node pkg="ur_control_wrapper" name="gripper_controller" type="gripper_controller.py" output="screen" />

    <node pkg="ur_control_wrapper" name="ur_kinematics" type="ur_kinematics.py" output="screen" />

</launch>

